<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="./js/myapp.js"></script>
</head>
<body ng-app="myapp" ng-controller="MyCtrl">
    <div class="container">
        <div class="jumbotron py-3">
            <h1 class="text-center">
                {{title}}
            </h1>
            <p class="pt-3"> 
                this is my Coronavaris page for finding cases relative country
            </p>
            <!-- All data  -->
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="card bg-warning text-white">
                        <div class="card-body">
                            <h3>Confirmed Cases</h3>
                            <h3>{{alldata.confirmed.value}}</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-success text-white">
                        <div class="card-body">
                            <h3>Recoverd Cases</h3>
                            <h3>{{alldata.recovered.value}}</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-danger text-white">
                        <div class="card-body">
                            <h3>Death Cases</h3>
                            <h3>{{alldata.deaths.value}}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End data  -->
            <!-- <button ng-click="changevalue()">Button</button> -->
            <input type="text" ng-model="countryname" ng-change="getdatacountry()" class="form-control mt-3" placeholder="Enter Country Name">
            <h1 class="text-center mt-4 text-uppercase">{{countryname}} Status</h1>
            <div class="row text-center" ng-if="countryname">
                <div class="col-md-4">
                    <div class="card bg-warning text-white">
                        <div class="card-body">
                            <h3>Confirmed Cases</h3>
                            <h3>{{countrydata.confirmed.value}}</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card bg-success text-white">
                        <div class="card-body">
                            <h3>Recoverd Cases</h3>
                            <h3>{{countrydata.recovered.value}}</h3>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="card bg-danger text-white">
                        <div class="card-body">
                            <h3>Death Cases</h3>
                            <h3>{{countrydata.deaths.value}}</h3>
                        </div>
                    </div>
                </div>
        </div>
    </div>    

</body>
</html>